@model TabloidMVC.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = $"Details - {Model.UserProfile.DisplayName}";
}

<div class="container pt-5">
    <div class="user">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1>Details - @Model.UserProfile.DisplayName</h1>
            </div>
            <h4></h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserProfile.FullName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserProfile.FullName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserProfile.DisplayName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserProfile.DisplayName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserProfile.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserProfile.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserProfile.CreateDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserProfile.CreateDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserProfile.UserType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserProfile.UserType.Name)
                </dd>
            </dl>
            <div class="row">
                <a asp-action="Edit" asp-route-id="@Model.UserProfile.Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.UserProfile.Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </section>
    </div>
</div>